{{ define "Header" }}

    <!DOCTYPE html>
    <html lang="en-US">
    <head>
        <title>Golang CRUD Web App</title>
        <meta charset="UTF-8" />

        <style>
        </style>
    </head>
    <body>

{{ end }}